{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-namespace": ["off"],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", ["index", "sibling", "parent", "object"]],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
